body{
    background-color: #f5edf5;
     font-family: 'Young Serif', serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container{
    background-color: #fff;
padding: 20px;
border-radius: 10px;
width: 100%;
max-width: 600px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.img{
    width: 200%;
    border-radius: 5px;

}
h1{
    color:#333;
}
.section{
margin-bottom: 20px;
line-height: 1.5;

}
.prep-time,nutrition{
background-color: #f8f3f0;
padding: 10px;
border-radius: 5px;

}
h3{
  color:brown;
}
ul {
    list-style-type: disc; 
}

ul li::marker {
    color: brown; 
    font-size: 1em; 
}

ul{

    padding-left: 20px;
}


ol li::marker {
    color: brown;  /* Change number color */
    font-weight: bold; /* Optional: Make numbers bold */
    font-size: 1em; /* Optional: Make numbers larger */
}

.nutrition td span {
    padding-left: 15px;
    text-align: left;
    padding: 10px;
    color: brown;
    margin-left: 100px;
column-span: 2px;

} 



